extends ../base.pug

block variables
  - var template = 'about'

block content
  .about(data-background="#f6eee3" data-color="ff0000")
    .about__wrapper
      .about__inner__wrapper
        .about__titles
          h1.about__titles=about.data.title

          svg.about__line__drawing(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8359.49 2930.79")
            path(fill="none" stroke="#ff0000" stroke-width="1.0" d="M.46,1195.55c353.29,780.38,1140.73,1346.48,1993,1432.8,147.5,14.93,309.59,12.36,426.3-79.06,97.42-76.3,145-205.3,139.91-328.94s-58-241.66-131-341.57c-179.52-245.67-495.09-390.31-796.41-348.08s-570.78,278.45-635.33,575.79,92.43,633.1,369.26,759.38c211.88,96.65,459.47,71,684.65,11.53,310.68-82,615-232.62,812.76-485.84s266.62-622.56,109.22-902.69c-59.25-105.46-158-199.36-278.56-209.38-188.92-15.71-327.22,167.45-426,329.23-88.09,144.2-177.72,292.28-210.64,458s2,355.5,130.14,465.65c124.94,107.38,305.4,116.55,469.74,105.07,542.09-37.88,1071-246.59,1492.88-589.1,93.5-75.91,186.07-165,216.25-281.56s-29.68-263.6-148-286.16c-78.14-14.91-158.41,28-209.1,89.36s-77.31,138.53-101.31,214.37c-48.93,154.63-84.78,342.44,23.29,463.37,120,134.22,334.79,99,508.73,52.63,280.59-74.73,573-155.75,787-351.95s318-545.48,150.27-782.5L4631.66,448.09c-82.84,44-138.92,134.46-141.45,228.22s48.58,187.12,128.94,235.5c127,76.46,291.86,35.17,424.69-30.61,79.79-39.52,158.35-89.8,205-165.63s52.87-182.48-6-249.25c-71.37-80.91-197.66-72.41-304.48-57.24-103.32,14.67-208.43,29.86-302.87,74.27s-178.34,123.28-202.69,224.77c-29.68,123.72,39.44,258.58,148.11,324.74s247.84,69.7,368.63,29.75,225.1-119.41,314.41-210c55.16-56,107-119.31,127.35-195.2s2.05-166.79-61.55-212.95c-86.94-63.1-207.89-19.82-305.46,25.15-114.14,52.62-231.5,107.54-316.4,200.21S4578,903.56,4632.62,1016.73c51.54,106.68,175,159.72,292.45,175,273.2,35.66,561.44-97.61,711.24-328.84,38.57-59.53,67.87-139.33,29-198.67-42.53-64.94-137.25-63.47-213.45-48.66-309.48,60.13-598.53,221-812.7,452.37a1817.67,1817.67,0,0,0,552.31,72.14c161.52-3.91,331.09-33.22,455.76-136s184.9-296.79,96.34-431.93c-28.9-44.09-70.75-78.6-116.49-104.8-220.95-126.53-514.78-50.86-705.44,117.88s-298,411.1-383.5,650.92c-115.2,323.09-199,690.14-53.22,1000.65,135,287.7,456.77,464.86,774.59,464.57s623.26-161.67,836.12-397.68,339.21-540.59,400.71-852.4,61.51-632.48,46.39-949.94c-4.75-99.86-11.42-201.7-48.86-294.4S6382.59,30.75,6285.42,7.24c-89.1-21.55-184.86,10.68-257.26,66.9S5903.39,208.2,5857.69,287.66a2054.77,2054.77,0,0,0-264.17,836.44c-17.73,196.56-6.07,399.25,65.81,583.05s209.31,347.33,392,422,410.5,47.63,552.34-89.6c156.91-151.83,181-393,174.37-611.19a3408.37,3408.37,0,0,0-107.79-753.05c-13.94-53.67-34.72-113.61-85.64-135.56-69.22-29.83-143,29.18-191.66,86.74-222,262.62-355,611.5-311.81,952.67s282,662.71,612.49,757.63c156.32,44.89,340,33.59,461.22-74.88,89.59-80.2,131.89-200,161.22-316.58a2239.9,2239.9,0,0,0,33.66-931.18c-15.13-86-36.28-173.36-85.63-245.39s-132.43-126.48-219.5-120c-83.17,6.23-154.58,66.51-196.46,138.64s-59.28,155.45-76.07,237.14c-27.67,134.64-55.49,271.28-46.27,408.42s60.26,277.26,165.92,365.19c106.64,88.75,251.33,112.64,388.52,133.28,278,41.82,588.34,76.43,816.33-88,206-148.55,283.68-427.4,257.55-680s-139-486.89-250.05-715.25")


        each section in about.data.body

          if section.slice_type == 'title'
            section.about__title__wrapper
              p.about__title__label(data-animation="label")=section.primary.label
              .about__question__wrapper
                h2.about__title__question(data-animation="marquee")=section.primary.question

          if section.slice_type == 'what_is_myth_creation'
            section.about__what__wrapper
              p.about__what__label(data-animation="label")=section.primary.label

              p.about__what__text(data-animation="paragraph")!=section.primary.text

              figure.about__what__media
                img.about__what__media__image(alt=section.primary.image.alt data-src=section.primary.image.url)


          if section.slice_type == 'content'
            section.about__content
              .about__content__wrapper
                p.about__content__label(data-animation="highlight")=section.primary.label
                .about__content__line
                .about__content__description_how!=PrismicDOM.RichText.asHtml(section.primary.description_how).replace(/<p>/g, '<p data-animation="paragraph">')

                figure.about__content__media
                  img.about__content__media__image(alt=section.primary.image.alt data-src=section.primary.image.url)

          if section.slice_type == 'highlight'
            section.about__highlight
              .about__highlight__wrapper
                if section.primary.label
                  //currently does not have a label. perhaps add?
                  p.about__highlight__label=section.primary.label

                h3.about__highlight__highlight(data-animation="label")=section.primary.highlight


          if section.slice_type == 'gallery'
            section.about__gallery
              .about__gallery__wrapper
                each media in section.items
                  figure.about__gallery__media(data-animation="gallery")
                    img.about__gallery__media__image(alt=media.image.alt data-src=media.image.url)

                svg.about__gallery__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 358.25 501.85")
                  path(fill="none" stroke="currentColor" stroke-width="2" d="M.35.36C193.28,189,251.26,320.07,352.38,476.94l-34-149.7L357.46,499c1.89-14.11-5.67-28.16-16.25-37.69s-23.89-15.36-36.95-21c-54.83-23.8-64.51-27.75-119.34-51.55")


        .about__button__wrapper
          .about__button
            a(href=Link(about.data.myths))= about.data.button
              svg.about__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.3 87.3")
                path(fill="none" stroke="currentColor" stroke-width="1.5" d="M137.3,10.69c-17-2.34-54-5.17-71-4.18s-34.2,5.43-49.68,16.08c-5.06,3.49-10.1,7.85-13.28,14.66s-4,16.61-.66,23.23C6.32,67.76,21.23,74.73,27.3,75.69c53.89,8.44,88.85,0,134.12-22.57,3.53-1.76,7.13-3.76,9.86-7.52a19.36,19.36,0,0,0,3.19-14.91c-1.42-6.12-6-9-10.19-11C122.75.08,76.23,4.79,36.89,32.58c-4.52,3.19-9.08,6.84-12.2,12.63s-4.48,14.26-2,20.74c2.28,6.06,7.1,8.82,11.59,10.83,42.84,19.18,91,10.51,129.51-23.31,4.15-3.65,8.3-7.72,11.1-13.55s4-13.84,1.86-20.26C174.16,12,168,8.91,162.32,7c-27.94-9.7-81.89-7.67-110,.73")
