extends ../base.pug

block variables
  - var template = 'detail'
block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(alt=detail.data.image.alt src=detail.data.image.url)

      .detail__information
        p.detail__information__myth=detail.data.myths.data.title



      //move this section to create the pics elsewhere
      each section in detail.data.body
        if section.slice_type == 'artwork'
          section.detail__information__artwork(class=`${section.primary.type === 'Left' ? 'detail__information__artwork--Left' : 'detail__information__artwork--Right'}`)
            .detail__information__artwork__wrapper
              .detail__information__artwork__box
                p.detail__information__artwork__title=section.primary.label

                .detail__information__artwork__description!=PrismicDOM.RichText.asHtml(section.primary.description)

              figure.detail__information__artwork__media
                img.detail__information__artwork__media__image(alt=section.primary.artwork.alt src=section.primary.artwork.url)

                //this shows title- if same as myth title it will appear double(most likeley!)
      h1.detail__information__title!=detail.data.title.replace(/\n/, '<br>')

      .detail__information__content
        .detail__information__highlights
          each highlight in detail.data.highlights
            p.detail__information__highlight
              svg.detail__information__highlight__icon
                use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/, '<br>')

        .detail__information__list
          each item in detail.data.information
            p.detail__information__item
              strong.detail__information__item__title=item.information_label
              span.detail__information__item__description=item.information_description

        a.detail__information__link(href=detail.data.link_url.url target="_blank")=detail.data.link_text

    button.detail__button Close
      svg.detail__button__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.3 87.3")
        path(fill="none" stroke="currentColor" stroke-width="1.5" d="M137.3,10.69c-17-2.34-54-5.17-71-4.18s-34.2,5.43-49.68,16.08c-5.06,3.49-10.1,7.85-13.28,14.66s-4,16.61-.66,23.23C6.32,67.76,21.23,74.73,27.3,75.69c53.89,8.44,88.85,0,134.12-22.57,3.53-1.76,7.13-3.76,9.86-7.52a19.36,19.36,0,0,0,3.19-14.91c-1.42-6.12-6-9-10.19-11C122.75.08,76.23,4.79,36.89,32.58c-4.52,3.19-9.08,6.84-12.2,12.63s-4.48,14.26-2,20.74c2.28,6.06,7.1,8.82,11.59,10.83,42.84,19.18,91,10.51,129.51-23.31,4.15-3.65,8.3-7.72,11.1-13.55s4-13.84,1.86-20.26C174.16,12,168,8.91,162.32,7c-27.94-9.7-81.89-7.67-110,.73")
