extends ../base.pug

block variables
  - var template = 'journal'

block content
  .journal(data-background="#f6eee3" data-color="ff0000")
    .journal__wrapper
      .journal__information
        h1.journal__title= 'Journal'

      .journal__posts
        .journal__posts__wrapper
          each post in journal
            .journal__posts__row

              .journal__posts__date=post.data.date

              a.journal__posts__link(href=`${"/post/"}${post.uid}`)=post.data.title

              .journal__posts__media

            //  figure.journal__posts__media
                img.journal__posts__media__image(alt=post.data.image.alt src=post.data.image.url)
