extends ../base.pug

block variables
  - var template = 'journal'

block content
  .journal
    .journal__wrapper
      .journal__titles
        figure.journal__media
          //img.journal__media__image(alt=media.image.alt src=media.image.url)

      .journal__information
        h1.journal__title= 'Journal'

      .journal__posts
        each post in journal
          a.journal__posts__link(href=`${"/post/"}${post.uid}`)=post.data.title
          //.journal__titles__title=post.data.title
          .journal__posts__date=post.data.date

          .journal__posts__media
            figure.journal__posts__media
              img.journal__posts__media__image(alt=post.data.image.alt src=post.data.image.url)
