extends ../base.pug

block variables
  - var template = 'myths'
block content
  .myths
    .myths__wrapper
      .myths__titles
        each myth, index in myths
          .myths__titles__label=`${Numbers(index)}`
          .myths__titles__title=myth.data.title

      .myths__gallery
        .myths__gallery__wrapper
          each myth in myths
            each detail in myth.data.details
              a.myths__gallery__link(href=Link(detail.details_myth))
                figure.myths__gallery__media
                  img.myths__gallery__media__image(alt=detail.details_myth.data.image.alt src=detail.details_myth.data.image.url)

      .myths__content
        each myth in myths
          article.myths__article
            h2.myths__article__title=myth.data.title
            p.myths__article__description=myth.data.description
    //h1.collections__title Myths
