extends ../base.pug

block variables
  - var template = 'myths'

block content
  .myths(data-background="#f6eee3" data-color="ff0000")
    .myths__wrapper
      .myths__gallery__wrapper
        .myths__titles
          each myth, index in myths
            each detail in myth.data.details
              a.myths__gallery__link(href=Link(detail.details_myth))
                .myths__titles__label=`${Numbers(index)}`
                .myths__titles__title(data-animation="title")=myth.data.title

                figure.myths__gallery__media
                  img.myths__gallery__media__image(alt=detail.details_myth.data.image.alt data-src=detail.details_myth.data.image.url)

                  svg.defs-only
                    filter#gamma-red(color-interpolation-filters='sRGB' x='0' y='0' height='100%' width='100%')
                      fecomponenttransfer
                        fefuncr(type='gamma' exponent='0.01')
                          fefuncg(type='gamma' exponent='1.0')
                            fefuncb(type='gamma' exponent='1.0')

    //.myths__content
      each myth in myths
        article.myths__article
          h2.myths__article__title=myth.data.title
          p.myths__article__description=myth.data.description
  //h1.collections__title Myths
