extends ../base.pug

block variables
  - var template = 'post'
block content
  .post(data-background="#f6eee3" data-color="ff0000")
    .post__wrapper
      section.post__titles
        .post__titles__wrapper
          .post__titles__title!=post.data.title.replace(/\n/, '<br>')
          .post__titles__title2=post.data.title2

          .post__titles__media
            figure.post__titles__media
              img.post__titles__media__image(alt=post.data.image.alt data-src=post.data.image.url)

          .post__titles__date=post.data.date

      each section in post.data.body
        if section.slice_type == 'title'
          .post__title__wrapper
            h2.post__title(data-animation="title2")=section.primary.important

        if section.slice_type == 'image_with_caption'
          section.post__header
            .post__header__wrapper
              figure.post__header__media
                img.post__header__media__image(alt=section.primary.image.alt data-src=section.primary.image.url)
                p.post__header__media__caption=section.primary.caption

        if section.slice_type == 'text'
          section.post__text
            .post__text__wrapper
              span.post__text__text!=PrismicDOM.RichText.asHtml(section.primary.text).replace(/<p>/g, '<p data-animation="highlight">')

        if section.slice_type == 'link'
          section.post__link
            .post__link__wrapper

              a.post__information__link(href=section.primary.link.url target="_blank" data-animation="highlight")=section.primary.link_text
